html {
    scroll-behavior: smooth;
    /*
    --color1: #000000;
    --color2: #ffffff;
    */
    --color1: #FFFFFF;
    --color2: #111111;
    --color3: #dadada;
    --color4: #b587ff;
    --font1: 'Inconsolata', monospace;
    --font2: 'Hedvig Letters Serif', serif;
    --size1: 16pt;
    --size2: 14pt;
    /*background: linear-gradient(0deg, #1a1a1a);*/
    background-color: var(--color2);
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 600px) {
    html {
        --size1: 16pt;
        --size2: 16pt;
    }
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;  
    font-size: var(--size1);
    font-weight: 300;
    color: var(--color1);
    font-style: normal;
    text-align: justify;
    font-family: var(--font2);
}

body {
    width: 600px;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-bottom: 10vh;
}

@media only screen and (max-width: 600px) {
    body {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        padding-bottom: 10vh;
    }
}

.gradient-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(45deg, #4400ff, #ff008c);
    
    padding-bottom: 0px;
    margin-right: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.name-title {
    font-size: 30pt;
}

.name-subtitle {
    font-size: var(--size2);
    font-family: var(--font1); 
    color: var(--color4);  
}

.section {
    margin-bottom: 8vh;
}

.title {
    font-size: var(--size2);
    font-family: var(--font1);
    color: var(--color4);
    margin-bottom: 1vh;
}

.subtitle {
    font-size: var(--size2);
    font-family: var(--font1);
    color: var(--color3);
    margin-top: 1vh;
    text-align: right;
}

.subtitle:hover {
    cursor: pointer;
    text-decoration: underline;
}

.story {
    border-top: 1px solid var(--color1);
    display: flex;
}

#last-story {
    border-bottom: 1px solid var(--color1);
}

.story-title {
    margin-top: 2vh;
}

.story-title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.story-img {
    width: 36vh;
    height: 12vh;
    background-color: #414a51;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vh;
    border-radius: 4%;
}

.story-subtitle {
    font-size: var(--size2);
    font-family: var(--font1);
    color: var(--color3);
    margin-top: 0.75vh;
    margin-bottom: 2vh;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links-title {
    width: 200px;
}

.links-subtitle {
    font-size: var(--size2);
    font-family: var(--font1);
    color: var(--color3);
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.links-subtitle:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .links-title {
        width: auto;
    }

    .links-subtitle {
        margin-left: 5vw;
    }
}



