html {
    scroll-behavior: smooth;
    --color2: #353535; /* Main font color */
    --color1: #ffffff; /* Main background color */
    --color3: #84a7a9; /* Accent color */
    --color4: var(--color1); /* Title color */
    /*--color1: #000000;
    --color2: #fefff4;
    --color3: #3700ff;*/
    --font2:  'IBM Plex Sans Condensed', sans-serif;
    font-family: 'IBM Plex Sans', sans-serif;
    --size1: 16pt;
    --size2: 12pt;
    --size3: 28pt;
    --weight1: 400;
    --weight2: 500;
    --weight3: 500;
    background-color: var(--color2);
    /*background-image: url('../resources/index/background.jpeg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    display: flex;
    justify-content: center;
}

img {
    display: none;
}

@media only screen and (max-width: 600px) {
    html {
        --size1: 16pt;
        --size2: 14pt;
        --size3: 28pt;
    }
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;  
    font-size: var(--size1);
    font-weight: var(--weight1);
    color: var(--color1);
    font-style: normal;
    text-align: left;
}

body {
    width: 600px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: var(--color2);
}

@media only screen and (max-width: 600px) {
    body {
        width: 90vw;
    }
}

.section {
    margin-top: 3vh
}

.title {
    font-family: var(--font2);
    font-size: var(--size2);
    color: var(--color3);
    font-weight: var(--weight2); 
    margin-bottom: 1vh;
}

.subtitle {
    font-family: var(--font2);
    font-size: var(--size2);
    color: var(--color3);
    text-align: right;
    font-weight: var(--weight2); 
}

.subtitle:hover {
    cursor: pointer;
    text-decoration: underline;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links-title {
    width: 200px;
}

.links-subtitle {
    font-size: var(--size1);
    color: var(--color1);
}

.links-subtitle:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .links-title {
        width: auto;
    }

    .links-subtitle {
        margin-left: 4vw;   
    }
}
