.entry-header {
    display: flex;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.entry-title {
    font-size: var(--size3);
    color: var(--color3);
    text-align: left;
}

.entry-subtitle {
    font-size: var(--size2);
    font-family: var(--font1);
    margin-top: 0.75vh;
}

.entry-img {
    width: 24vh;
    height: 24vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vh;
    border-radius: 4%;

}

.entry-paragraph {
    font-size: var(--size2);
    font-family: var(--font2);
    padding-bottom: 3vh;
}

.highlight {
    color: var(--color3);
    font-size: var(--size2);
    font-family: var(--font2);
}