.gradient-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(45deg, #3a0243, #dd00ff); 
    margin-right: 20px;
}


#header {
    display: flex;
    align-items: center;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}




