html {
    scroll-behavior: smooth;
    --color1: #edf2f4;
    --color2: #2c2c2c;
    --color3: #aaa0d1;
    /*--color1: #2c2c2c;
    --color2: #edf2f4;
    --color3: #66617a;*/
    font-family: 'Syne', sans-serif;
    --size1: 16pt;
    --size2: 12pt;
    --size3: 20pt;
    --weight1: 400;
    --weight2: 700;
    background-color: var(--color2);
    /*background-image: url('../resources/index/background.jpeg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    html {
        --size1: 16pt;
        --size2: 12pt;
        --size3: 22pt;
    }
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;  
    font-size: var(--size1);
    font-weight: 400;
    color: var(--color1);
    font-style: normal;
    text-align: left;
}

body {
    width: 700px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: var(--color2);
}

@media only screen and (max-width: 600px) {
    body {
        width: 90vw;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
}

.section, .links {
    margin-top: 6vh
}

.title {
    font-size: var(--size2);
    color: var(--color3);
    font-weight: var(--weight2); 
    margin-bottom: 1vh;
}

.subtitle {
    font-size: var(--size2);
    color: var(--color3);
    text-align: right;
    font-weight: var(--weight2); 
}

.subtitle:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Links */

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links-title {
    width: 200px;
}

.links-subtitle {
    font-size: var(--size1);
    color: var(--color1);
}

.links-subtitle:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .links-title {
        width: auto;
    }

    .links-subtitle {
        margin-left: 3vw;
        
    }
}
